server/logs
server/project/project
server/project/target
server/target
server/tmp
server/.history
server/.cache
server/dist
server/bin
server/.idea
server/*.iml
server/out
server/.idea_modules
server/.classpath
server/.project
server/RUNNING_PID
server/.settings
server/.target
frontend/node_modules
