/* You can add global styles to this file, and also import other style files */

/* see material color codes:  https://material.io/guidelines/style/color.html#color-color-palette  */
@import '~@angular/material/_theming';

@include mat-core();
$primary: mat-palette($mat-cyan, 400);
$accent:  mat-palette($mat-light-blue, 600, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);


mat-toolbar.mat-primary {
    color: rgb(255,255,255);
}

body {
    background: #f1f1f1;
}

md-card.bar {
    margin: 5px;
}
