

<mat-card>
  <mat-card-title>{{ (baselineBar)?.name }}</mat-card-title>
  <p>
  Verfügbares Budget: {{originalRevenue}} Mio. Euro
  </p>
  <p>
  Ihr Vorschlag zu den Staatsausgaben: {{modifiedRevenue}} Mio. Euro
  </p>
  <button mat-raised-button color="primary" (click)="save()">
    VARIANTE SPEICHERN
  </button>
</mat-card>


<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
    <mat-card class="bar" fxFlex="500px" *ngFor="let bar of bars">
      {{bar.category}} - {{bar.basevalue}} Mio. Euro
      <mat-progress-bar mode="determinate" value="{{bar.basevalue / 1000}}"></mat-progress-bar>
      <p>Mein Vorschlag: {{bar.delta}} Mio. Euro</p>
      <mat-progress-bar mode="determinate" value="{{myProposalPercentage(bar)}}"></mat-progress-bar>
      <br>
      <button mat-raised-button (click)="decreaseBar(bar)">MINUS 5 MILLIARDEN</button>
      <button mat-raised-button (click)="increaseBar(bar)">PLUS 5 MILLIARDEN</button>

      <br>
      <br>
      <br>
    </mat-card>
</div>
