

<div>
  <h1>{{ (baselineBar)?.name }}</h1>
  <p>
  Verfügbares Budget: {{originalRevenue}} Mio. Euro
  </p>
  <p>
  Ihr Vorschlag zu den Staatsausgaben: {{modifiedRevenue}} Mio. Euro
  </p>
  <button class="btn btn-primary" (click)="save()">
    VARIANTE SPEICHERN
  </button>
  <br><br><br>
</div>


<div >
    <div *ngFor="let bar of bars">
      {{bar.category}} - {{bar.basevalue}} Mio. Euro
      <p><ngb-progressbar type="success" value="{{bar.basevalue / 1000}}"></ngb-progressbar></p>      
      <p>Mein Vorschlag: {{bar.delta}} Mio. Euro</p>
      <p><ngb-progressbar type="success" value="{{myProposalPercentage(bar)}}"></ngb-progressbar></p>
      <br>
      <button class="btn btn-secondary" (click)="decreaseBar(bar)">MINUS 5 MILLIARDEN</button>
      <button class="btn btn-secondary" (click)="increaseBar(bar)">PLUS 5 MILLIARDEN</button>
      
      <br>
      <br>
      <br>
    </div>
</div>
