

<md-card>
  <md-card-title>{{ (baselineBar)?.name }}</md-card-title>
  <p>
  Verfügbares Budget: {{originalRevenue}} Mio. Euro
  </p>
  <p>
  Ihr Vorschlag zu den Staatsausgaben: 150922 Mio. Euro
  </p>
  <button md-raised-button color="primary" (click)="save()">
    VARIANTE SPEICHERN
  </button>
</md-card>

<md-card>
    <div *ngFor="let bar of bars">
      {{bar.category}} - {{bar.basevalue}} Mio. Euro
      <md-progress-bar mode="determinate" value="{{10}}"></md-progress-bar>
      <p>Mein Vorschlag: {{myProposal(bar)}} Mio. Euro</p>
      <md-progress-bar mode="determinate" value="{{myProposalPercentage(bar)}}"></md-progress-bar>       
      <br>
      <button md-button (click)="increaseBar(bar)">PLUS 5 MILLIARDEN</button>
      <button md-button (click)="decreaseBar(bar)">MINUS 5 MILLIARDEN</button>
      <br>
    </div>
</md-card>

Democratizer Democratizer Democratizer Democratizer Democratizer Democratizer Democratizer  
<md-card>
    <vote-bar *ngFor="let bar of bars" [bar]="bar">      
    </vote-bar>
</md-card>

